 @import url('https://fonts.cdnfonts.com/css/nexa-bold');

:root{
    --fuentePrincipal:'Nexa';
    --primary:#00AEB5;
    --primaryDark:#17232F;
    --secondary:#ffff;
    --terciary:#FF5087;
    --dark:#000000;
}

/*GLOBALES*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

/*Snippet ideal*/
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: 900;
    margin: calc(var(--separacion) / 2) 0;
}



h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/*UTILIDADES*/
.text-center{
    text-align: center;
}
.separacion{
    margin-top: 15rem;
}

.button , .button-blue{
    text-decoration: none;
    color: var(--secondary); 
    padding: 2rem;
    border: none;
}
.button{
    background-color: var(--primaryDark);  
}
.button-blue{
    background-color: var(--primary);  
}


/*NAVEGACION*/
.header {
    position: relative;
    padding: 0 2rem;
    background-color: var(--primaryDark);
}
.logo{
    width: 15rem;
    height: 15rem;
}
.navbar {
    width: 100%;
    height: 15rem;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: none;
}
.link{
    color: var(--secondary);
    font-size: 2rem;
}

.toggle_btn{
    font-size: 5rem;
    cursor: pointer;
    color: var(--secondary);
    display: block;
}

.action_btn {
    display: none;
}

.action_btn:hover {
    scale: 1.05;
    color: #000;
}

/*DROPDOWN MENU*/
.dropdown_menu{
    display: none;
    position: absolute;
    top: 17rem;
    padding: 2rem;
    width: 90%;
    background: var(--primaryDark);
    border-radius: 0.5rem;
}
.dropdown_menu.open{
    display: block;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-header{
    font-size: 4.5rem;
}

@media (min-width:768px) {
    h1 {
        font-size: 8rem;
    }
}
@media (min-width:768px) {
    .dropdown_menu{
        display: none;
    }
}
.contact{
    display: block;
    background-color: var(--primary);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}
@media (min-width:768px) {
    .toggle_btn i {
        display: none;
    }
}
@media (min-width:768px) {
    .links {
        align-items: center;
        display: flex;
        gap: 2rem;
    }
}
/* HERO */

.container-hero{
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url(../assets/nuevo-fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    display: flex;
    justify-content: center;
    color: var(--secondary);
    align-items: center;
}

/*SOBRE NOSOTROS*/

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width:768px) {
    .container_nosotros{
        display: block;
    }
}
@media (min-width:768px) {
    .container {  
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 5px;
        grid-auto-flow: row;
    }
}
@media (min-width:768px) {
    .nosotros_parrafo_primera{
        grid-row: 1/2
    }
}

/*IMAGENES NOSOTROS*/
.nosotros_imagenprimera { 
    background-image: url(../assets/nosotros_img_uno.jpeg);
    background-size: cover;
    background-position: center;
    height: 350px;
}

.nosotros_imagensegunda { 
    background-image: url(../assets/nosotros_img_segunda.jpeg);
    background-size: cover;
    background-position: center;
    height: 350px;
}

@media (min-width:768px) {
    .nosotros_imagenprimera { 
        height: 600px;
    }
}
@media (min-width:768px) {
    .nosotros_imagensegunda { 
        height: 600px;
    }
}

.nosotros_title h3{
    margin-bottom: 2rem;
    font-size: 1.3em;
}

.nosotros_parrafo p{
    font-size: 2rem;
    line-height: 2;
}

/* FOOTER */

.container_footer{
    height: 50vh;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    margin-top: 10rem;
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap ; */
    align-items: center;
    background-color: var(--primaryDark);
    color: var(--secondary);
    padding: 12rem;
}

.footer_logo img{
    width: 10rem;
    height: 10rem;
}

.footer_contact h6{
    margin-bottom:1rem;
    color: var(--terciary);
    font-size: 22px;
    margin-top: 1rem;
}

.footer_contact p{
    margin-top: 1rem;
    font-size: 17px;
}
.num-footer{
    color: var(--primary);
}


/*CONTACTO SECCION PRINCIPAL*/
.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to left , rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../assets/Sala_de_espera.jpg);
    background-size: cover;
    background-position: center;
    height: 50rem;
}
.titulo-contacto{
    padding: 5rem;
    width: 50rem;
    color: var(--secondary);
}
/* CONTACTO */

.map_contacto{
    width: 100%;
    
}
/*TURNOS SECCION*/
.turnos{
    background-repeat: no-repeat;
    background-image: linear-gradient(to top,rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../assets/IMG_6252.PNG);
    background-size: cover;
}
@media (min-width:768px) {
    .turnos{
        height: 50rem;
    }
}
.turnos-titulo,.turnos-texto{
    color: var(--secondary);
}
.turnos-texto{
    padding: 2rem;
}
.turnos-titulo{
    padding: 5rem;
}
/*SERVICIOS SECCION*/

@media (min-width:768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
    }
}
.servicio_img{
    width: 20rem;
    height: 20rem;
}
.tarjeta-servicio{
    background-color: var(--primaryDark);
    color: var(--secondary);
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 0.5rem solid var(--dark);
    border-radius: 1rem;
    margin-top: 1rem;
}

.color-servicio{
    color: var(--terciary);
}

/*ESTILOS DE LAS CALCULADORAS*/
.seccion{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.formulario legend {
    text-align: center;
    background-color: #037bc0;
    width: 100%;
    color: #fff;
    font-weight: 700;
}
.formulario fieldset {
    border: 1px solid #000;
    margin-bottom: 2rem;
}

.formulario{
    background-color: var(--primaryDark);
    color: var(--secondary);
}
.campo .input{
    width: 50%;
    margin-bottom: 1rem;
}
.campo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (min-width:768px) {
    .formulario {
        padding: 2rem;
        max-width: 60rem;
        margin: 0 auto;
    }
    
    .campo .input {
        flex: 1;
        /*Toma todo el campo que es disponible , toma el resto del espacio
        */
        border: 0.5px solid #e1e1e1;
        padding: 1rem;
    }

}

.resultado{
    padding: 3.5rem;
}

/*CONTACTO*/

.contacto-logos{
    display: flex;
    justify-content: center;
}
