<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Estilos de la navegacion style.css-->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="https://res.cloudinary.com/dcerrhe4s/image/upload/v1710846681/nutriciencia/k2y582uwpjci1uvetpmr.jpg">
    <title>Nutriciencia</title>
</head>

<body>
    <!--NAVEGACIÓN-->
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <a class="link" href="../index.html"><img class="logo" src="https://res.cloudinary.com/dcerrhe4s/image/upload/v1710846681/nutriciencia/prtjytai6llokgwe0xzf.png" alt="Logo nutriciencia"></a>
            </div>
            <ul class="links">
                <li><a class="link" href="../index.html">Nosotros</a></li>
                <li><a class="link" href="./turnos.html">Turnos</a></li>
                <li><a class="link" href="./servicios.html">Servicios</a></li>
                <li><a class="link" href="./objetivos.html">Objetivos</a></li>
                <li><a class="link" href="./contacto.html">Contacto</a></li>
            </ul>
            <div class="toggle_btn">
                <i class='bx bx-list-ul'></i>
            </div>
            <div class="dropdown_menu">
                <li><a class="link" href="../index.html">Nosotros</a></li>
                <li><a class="link" href="./turnos.html">Turnos</a></li>
                <li><a class="link" href="./servicios.html">Servicios</a></li>
                <li><a class="link" href="./objetivos.html">Objetivos</a></li>
                <li><a class="link" href="./contacto.html">Contacto</a></li>
            </div>
        </nav>
    </header>
    <!--Datos de contacto-->
    <main class="white_mode_all">
        <div>
            <section class="contacto separacion">
                <h2 class="text-center separacion contacto-titulo">Contactá con nosotros</h2>
                <!-- <p class="p-contact">Escribinos al <strong class="numero">3785113766</strong></p> -->
                <div class="contacto-logos">
                    
                            <a href="https://wa.me/message/EU5PVAFYPH3XP1" target="_blank"><img class="img-contact"
                            src="../public/icons/whathsapp.png" alt="Logo whathsapp"></a>
                    
                            <a href="https://www.instagram.com/nutriciencia_/" target="_blank"><img class="img-contact"
                            src="../public/icons/instagram.png" alt="Logo instagram"></a>
                    
                            <a href="https://www.facebook.com/nutriciencia?mibextid=LQQJ4d" target="_blank"><img
                            class="img-contact" src="../public/icons/facebook.png" alt="Logo facebook"></a>
                    
                            <a href="https://www.tiktok.com/@nutriciencia" target="_blank"><img
                            class="img-contact" src="../public/icons/tiktok.png" alt="Logo tiktok"></a>
                   
                            <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fnutricienciaok" target="_blank"><img
                            class="img-contact" src="../public/icons/x.png" alt="Logo x"></a>
                </div>
            </section>
        </div>
        <iframe class="map-contacto separacion"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4077.91076663607!2d-55.90091801883746!3d-27.36736458117315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9457bfbdfbda5631%3A0xc2cd75ba84dd11b2!2sPUNTO%20MED%20Consultorios%20M%C3%A9dicos%20en%20Posadas!5e1!3m2!1ses-419!2sar!4v1677430871276!5m2!1ses-419!2sar"
            style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>
    <footer class="container_footer">
        <div class="footer_logo">
            <img src="https://res.cloudinary.com/dcerrhe4s/image/upload/v1710846681/nutriciencia/prtjytai6llokgwe0xzf.png" alt="logo" />
        </div>
        <div class="footer_contact">
            <h6>Estamos en </h6>
            <p>- San Martín 2281 Puntomed - Piso 6 - Consultorio 9 </p>
            <h6>Escribirnos al</h6>
            <p class="num-footer">-3765113766</p>
            <h6>Nuestro correo</h6>
            <p>- nutri.ciencia@hotmail.com</p>

        </div>
    </footer>

    <script src="../js/index.js"></script>
</body>

</html>