<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="icon" href="../assets/Logo2.png">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Nutriciencia</title>
</head>

<body>
  <!--NAVEGACIÓN-->
  <header class="header">
    <nav class="navbar">
        <div class="logo">
          <a class="link" href="../index.html"><img class="logo" src="../assets/Logo2.png" alt="Logo nutriciencia"></a>
        </div>
            <ul class="links">
              <li><a class="link" href="../index.html">Nosotros</a></li>
                    <li><a class="link" href="./turnos.html">Turnos</a></li>
                    <li><a class="link" href="./servicios.html">Servicios</a></li>
                    <li><a class="link" href="./objetivos.html">Objetivos</a></li>
                    <li><a class="link" href="./contacto.html">Contacto</a></li>
            </ul>
            <div class="toggle_btn">
                <i class='bx bx-list-ul'></i>
            </div>
                <div class="dropdown_menu">
                  <li><a class="link" href="../index.html">Nosotros</a></li>
                  <li><a class="link" href="./turnos.html">Turnos</a></li>
                  <li><a class="link" href="./servicios.html">Servicios</a></li>
                  <li><a class="link" href="./objetivos.html">Objetivos</a></li>
                  <li><a class="link" href="./contacto.html">Contacto</a></li>
                </div>
    </nav>
</header>
    <div>
      <h2 class="text-center separacion">Calculadoras</h2>
      <p class="text-center">Los valores de % graso son referencias.<br>Para mayor precisión recomendamos una antropometría hecha por un
        profesional.</p>
    </div>
    <section class="seccion">
      <!--Seccion de servicios desde javascript-->
      <div>
        <form class="formulario">
          <div class="text-center titulo-calc-container">
            <h2 class="titulo-calculadora">Calcular Imc.</h2>
          </div>

          <div class="campo">
            <label>Peso (kg):</label>
            <input class="input" type="number" id="weight" min="1" max="300" step="0.1" placeholder="Ejemplo 66">
          </div>
          <!--Fin de campo-->
          <div class="campo">
            <label>Altura (cm):</label>
            <input class="input" type="number" id="height" min="50" max="300" step="0.1"
              placeholder="Ejemplo 169 sin .">
          </div>
          <!--Fin de campo-->
          <div class="campo">
            <label>Edad:</label>
            <input class="input" type="number" id="age" min="1" max="120" placeholder="Ejemplo 20">
          </div>
          <!--Fin de campo-->
          <div class="campo">
            <label>Sexo:</label>
            <select id='sex' class="input">
              <option value="hombre">Hombre</option>
              <option value="mujer">Mujer</option>
            </select>
          </div>
          <!--Fin de campo-->
          <div class="text-center">
            <button class="button-blue" id="btn-masa">Calcular IMC</button>
          </div>
          <!--Fin de campo-->
          <div class="text-center">
            <p class="resultado" id="resultado">Tu IMC es:</p>
          </div>
          <!--Fin de campo-->
        </form>
      </div>
      
    </div>
      <!--Fin de calculadora-->
      <!--Calculadora-->
      <div>
        <form class="formulario">
          <div class="text-center titulo-calc-container">
            <h2 class="titulo-calculadora">Calcular calorias.</h2>
          </div>

          <div class="campo">
            <label for="weight">Peso (kg):</label>
            <input class="input" type="number" id="peso" placeholder="Ejemplo 66">
          </div>

          <div class="campo">
            <label for="height">Altura (cm):</label>
            <input class="input" type="number" id="altura" placeholder="Ejemplo 169 sin .">
          </div>

          <div class="campo">
            <label for="age">Edad:</label>
            <input class="input" type="number" id="edad" placeholder="Ejemplo 20">
          </div>

          <div class="campo">
            <label for="gender">Sexo:</label>
            <select class="input" id="genero">
              <option value="hombre">Hombre</option>
              <option value="mujer">Mujer</option>
            </select>
          </div>

          <div class="campo">
            <label for="activity">Nivel de Actividad:</label>
            <select class="input" id="activity">
              <option value="1.2">Sedentario</option>
              <option value="1.375">Ligeramente Activo</option>
              <option value="1.55">Moderadamente Activo</option>
              <option value="1.725">Muy Activo</option>
              <option value="1.9">Extremadamente Activo</option>
            </select>
          </div>

          <div class="text-center">
            <button class="button-blue" id="btn-calorias">Calcular Calorías</button>
          </div>
          <div class="text-center">
            <p class="resultado">Tu requerimiento diario de calorías es: <span id="calorias">0</span> kcal.</p>
          </div>
        </form>
      </div>
      </div>

       <!--Calculadora-->
      <div>
         <!--Calculadora-->
      <form class="formulario">
        <div class="text-center titulo-calc-container">
          <h2 class="titulo-calculadora">Calcular % graso.</h2>
        </div>
        <div class="campo ">
          <label for="gender">Sexo:</label>
          <select class="input" id="generos" name="gender">
            <option value="femenino">Mujer</option>
            <option value="masculino">Hombre</option>
          </select>
        </div>
        <!--Fin de campo-->
        <div class="campo ">
          <label for="peso">Peso (kg):</label>
          <input class="input" type="number" id="pesos" name="peso" step="0.1" placeholder="Ejemplo  61.1">
        </div>
        <!--Fin de campo-->
        <div class="campo ">
          <label for="altura">Altura (m):</label>
          <input class="input" type="number" id="alturas" name="altura" step="0.1"
            placeholder="Ejemplo  1.63 con .">
        </div>
        <!--Fin de campo-->
        <div class="campo ">
          <label for="edad">Edad:</label>
          <input class="input input-final" type="number" id="edades" name="edad" placeholder="Ejemplo 47 ">
        </div>
        <!--Fin de campo-->
        <div class="text-center">
          <button class="button-blue" id="btn-grasa">Calcular % graso</button>
        </div>
        <div class="text-center">
          <p id="resultados" class="resultado">Tu porcentaje de grasa corporal es:</p>
        </div>
      </form>
    </div>
    <!--Fin de calculadora-->
  </div>
    
    
    </section>
     
    <!--Fin de calculadora-->
  <script src="../js/index.js"></script>
  <script src="../js/calculator.js"></script>
  <!--Pie de pagina-->
  <footer class="container_footer">
    <div class="footer_logo">
      <img src="../assets/Logo2.png" alt="logo" />
    </div>
    <div class="footer_contact">
      <h6>Estamos en </h6>
      <p>- San Martín 2281 Puntomed - Piso 6 - Consultorio 9 </p>
      <h6>Escribirnos al</h6>
      <p class="num-footer">-3765113766</p>
      <h6>Nuestro correo</h6>
      <p>- nutri.ciencia@hotmail.com</p>

    </div>
  </footer>
</body>

</html>