<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="icon" href="https://res.cloudinary.com/dcerrhe4s/image/upload/v1710846681/nutriciencia/k2y582uwpjci1uvetpmr.jpg">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Nutriciencia</title>
</head>

<body>
    <!--NAVEGACIÓN-->
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <a class="link" href="../index.html"><img class="logo" src="https://res.cloudinary.com/dcerrhe4s/image/upload/v1710846681/nutriciencia/prtjytai6llokgwe0xzf.png" alt="Logo nutriciencia"></a>
            </div>
            <ul class="links">
                <li><a class="link" href="../index.html">Nosotros</a></li>
                    <li><a class="link" href="./turnos.html">Turnos</a></li>
                    <li><a class="link" href="./servicios.html">Servicios</a></li>
                    <li><a class="link" href="./objetivos.html">Objetivos</a></li>
                    <li><a class="link" href="./contacto.html">Contacto</a></li>
            </ul>
            <div class="toggle_btn">
                <i class='bx bx-list-ul'></i>
            </div>
            <div class="dropdown_menu">
                <li><a class="link" href="../index.html">Nosotros</a></li>
                <li><a class="link" href="./turnos.html">Turnos</a></li>
                <li><a class="link" href="./servicios.html">Servicios</a></li>
                <li><a class="link" href="./objetivos.html">Objetivos</a></li>
                <li><a class="link" href="./contacto.html">Contacto</a></li>
            </div>
        </nav>
    </header>
    <main>
        <!--SECCION SERVICIOS-->
        <div>
            <h2 class="text-center separacion">Nuestros servicios.</h2>
            <p  class="text-center">Elegí el más acorde a tu perfil</p>
        </div>
        <section class="servicios">
            <div class="tarjeta-servicio">
                <img class="servicio_img" src="https://res.cloudinary.com/dcerrhe4s/image/upload/v1710846682/nutriciencia/nhcjhlvkmrwnbt6nctj8.png" alt="Imagen servicio">
                <h3><strong class="color-servicio">Entrevista nutricional, antropometría y plan personalizado.</strong></h3>
                <ul class="lista-servicios">
                    <li>Entrevista nutricional</li>
                    <li>Antropometria con entrega de informe</li>
                    <li>Plan alimentario personalizado según objetivos</li>
                    <li>Recomendaciones</li>
                    <li>Lista de compras</li>
                    <li>Ideas de menú</li>
                    <br>
                    <li><strong >Presencial</strong></li>
                </ul>
                <a href="turnos.html"><button class="button-blue">Pedí un turno</button></a>
            </div>
        
            <div class="tarjeta-servicio">
                <img class="servicio_img" src="https://res.cloudinary.com/dcerrhe4s/image/upload/v1710846681/nutriciencia/ghk7uklxogj2p0rwzzs0.png" alt="Imagen servicio">
                <h3><strong class="color-servicio">Entrevista nutricional y plan personalizado.</strong></h3>
                <ul class="lista-servicios">
                    <li>Entrevista nutricional</li>
                    <li>Plan alimentario personalizado según objetivos</li>
                    <li>Recomendaciones</li>
                    <li>Lista de compras</li>
                    <li>Ideas de menú</li>
                    <br>
                    <li><strong >Presencial u online</strong></li>
                </ul>
                <br>
                <a href="turnos.html"><button class="button-blue">Pedí un turno</button></a>
            </div>
        
            <div class="tarjeta-servicio">
                <img class="servicio_img" src="https://res.cloudinary.com/dcerrhe4s/image/upload/v1710846682/nutriciencia/bkldq0nb2bgfq3xrxaqb.png" alt="Imagen servicio">
                <h3><strong class="color-servicio">Control nutricional y antropometría.</strong></h3>
                <ul class="lista-servicios">
                    <li>Control de seguimiento</li>
                    <li>Antropometria de control</li>
                    <br>
                    <li><strong >Presencial u online</strong></li>
                </ul>
                <a href="turnos.html"><button class="button-blue">Pedí un turno</button></a>
            </div>
        
            <div class="tarjeta-servicio">
                <img class="servicio_img" src="https://res.cloudinary.com/dcerrhe4s/image/upload/v1710846683/nutriciencia/su36seq8fzhlohn2p3ih.png" alt="Imagen servicio">
                <h3><strong class="color-servicio">Antropometría.</strong></h3>
                <ul class="lista-servicios">
                    <li>Antropometria completa (perfiles ISAK 1 o 2)</li>
                    <li>Entrega y explicación de informe</li>
                    <br>
                    <li><strong >Presencial</strong></li>
                </ul>
           
                <a href="turnos.html"><button class="button-blue">Pedí un turno</button></a>
            </div>
        </section>
    </main>
    <script src="../js/index.js"></script>
    <!-- <script src="../js/servicios.js"></script> -->
    <!--Pie de pagina-->
    <footer class="container_footer">
        <div class="footer_logo">
            <img src="https://res.cloudinary.com/dcerrhe4s/image/upload/v1710846681/nutriciencia/prtjytai6llokgwe0xzf.png" alt="logo" />
        </div>
        <div class="footer_contact">
            <h6>Estamos en </h6>
            <p>- San Martín 2281 Puntomed - Piso 6 - Consultorio 9 </p>
            <h6>Escribirnos al</h6>
            <p class="num-footer">-3765113766</p>
            <h6>Nuestro correo</h6>
            <p>- nutri.ciencia@hotmail.com</p>

        </div>
    </footer>
</body>

</html>