<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="icon" href="https://res.cloudinary.com/dcerrhe4s/image/upload/v1710846681/nutriciencia/k2y582uwpjci1uvetpmr.jpg">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Nutriciencia</title>
</head>

<body>
    <!--NAVEGACIÓN-->
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <a class="link" href="../index.html"><img class="logo" src="https://res.cloudinary.com/dcerrhe4s/image/upload/v1710846681/nutriciencia/prtjytai6llokgwe0xzf.png" alt="Logo nutriciencia"></a>
            </div>
            <ul class="links">
                <li><a class="link" href="../index.html">Nosotros</a></li>
                <li><a class="link" href="./turnos.html">Turnos</a></li>
                <li><a class="link" href="./servicios.html">Servicios</a></li>
                <li><a class="link" href="./objetivos.html">Objetivos</a></li>
                <li><a class="link" href="./contacto.html">Contacto</a></li>
            </ul>
            <div class="toggle_btn">
                <i class='bx bx-list-ul'></i>
            </div>
            <div class="dropdown_menu">
                <li><a class="link" href="../index.html">Nosotros</a></li>
                <li><a class="link" href="./turnos.html">Turnos</a></li>
                <li><a class="link" href="./servicios.html">Servicios</a></li>
                <li><a class="link" href="./objetivos.html">Objetivos</a></li>
                <li><a class="link" href="./contacto.html">Contacto</a></li>
            </div>
        </nav>
    </header>
    <main>
        <section class="separacion turnos">
            <article class="text-center">
                <div class="turnos-titulo-container">
                    <h2 class="turnos-titulo">Quiénes somos</h2>
                </div>
                <div class="turnos-texto-container">
                <p class="turnos-texto">
                    Somos un equipo multidisciplinario de nutricionistas y profesionales de la salud que queremos ayudarte a alcanzar tus metas, objetivos y mejorar tu salud.
                    La nutrición ha cambiado, y nosotros queremos que aprendas, para así mantener a largo plazo los resultados que logremos.
                    En Nutriciencia nos comprometemos a resolver todas tus dudas desde el rigor científico.
                    Estaremos encantados de trabajar juntos para buscar tu mejor versión.</p>
                    <a href="https://wa.me/message/EU5PVAFYPH3XP1" target="_blank" class="button">Pedí un turno.</a>
            </div>
            </article>
        </section>

        <!-- Principio del widget integrado de Calendly -->

        <div class="calendly-inline-widget separacion" data-url="https://calendly.com/nutriciencia/-" style="min-width:320px;height:700px;"></div>

        


        <!-- Final del widget integrado de Calendly -->


    </main>
    <footer class="container_footer">
        <div class="footer_logo">
            <img src="https://res.cloudinary.com/dcerrhe4s/image/upload/v1710846681/nutriciencia/prtjytai6llokgwe0xzf.png" alt="logo" />
        </div>
        <div class="footer_contact">
            <h6>Estamos en </h6>
            <p>- San Martín 2281 Puntomed - Piso 6 - Consultorio 9 </p>
            <h6>Escribirnos al</h6>
            <p class="num-footer">-3765113766</p>
            <h6>Nuestro correo</h6>
            <p>- nutri.ciencia@hotmail.com</p>

        </div>
    </footer>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    <script src="../js/index.js"></script>
</body>

</html>